spring:
  application:
    name: todos-webclient
logging:
  level:
    io.corbs: DEBUG
server:
    port: 8009
management:
  endpoints:
    web:
      base-path: /ops
      exposure:
        include: '*'
eureka:
  client:
    serviceUrl:
      defaultZone: 'http://localhost:8761/eureka/'
todos:
  api:
    endpoint: http://localhost:8010
